.nav-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.nav-right{
    display: flex;
    justify-content: center;
    width: 50%;
    order: 1;
}

.nav-right .hello{
    align-self: center;
    color: #6b6b6b;
}

.nav-left{
    width: 50%;
}

.nav-flex ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    -webkit-padding-start: 0px;
}

.nav-flex ul a li{
    padding: 25px;
    align-self: center;
}

.nav-flex ul a:not(.navbar-brand) li:hover{
    background: #3c3c3c14;
    color: white;
}

.nav-flex ul a{
    text-decoration: none;
}

.nav-flex ul .navbar-brand li{
    padding: 25px 25px 21px 25px;
}


.nav-flex ul .navbar-brand{
    padding: 0;
    float: none;
    height: 0;
}

.navbar{
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .nav-right {
        width: 100%;
        justify-content: space-between;
    }
    
    .nav-flex ul a li{
        padding: 20px;
    }
    
    .nav-flex ul .navbar-brand li{
        padding: 20px 20px 17px 20px;
    }

}
