<div class="col-md-10 col-sm-8" style="padding: 0;">
    <div class="jumbotron dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="container-fluid-fixed">
                        <div class="row">
                            <div class="col-sm-8 pull-left">
                                <button class="btn btn-default"><input type="checkbox"> All</button>
                            </div>

                            <div class="col-sm-4 pull-right">
                                <span class="pull-right">1-50 of 249</span>
                            </div>
                        </div>
                    </div>
                    <hr style="border-color: #999; margin: 10px 0;"/>

                    <table class="table table-bordered">
                        <tbody>
                            <tr *ngFor="let obj of emails">
                                <td><input type="checkbox"/><span>{{obj.getter}}</span></td>
                                <td>{{obj.subject}}</td>
                                <td>{{obj.message}}</td>
                                <td>{{obj.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>